<% include partials/header %>

<div class="container">
    <h1>This is the SHOW TEMPLATE</h1>
    <h1><%=campground.name%></h1>
    <img src="<%=campground.image%>" >
    <p><%=campground.description%></p>
    
</div>


<% include partials/footer %>