<% include partials/header %>

<div class="container">
    
    <h1>  This page will show more info about a single campground </h1>
    <h1><%= campground.name %></h1>
    <img src="<%= campground.image %>" >
    <p><%= campground.description %> </p>
    

    
</div>


<% include partials/footer %>